# 첫날 기초 파이썬, 리스트 퀴즈
## 2022.01.19

**퀴즈 1:**
> 아래와 같이 3줄로 글자를 출력하는 4가지 방법은?

> `파이썬
파이썬
파이썬`

In [1]:
# 1
print('파이썬')
print('파이썬')
print('파이썬')

# 2
print('파이썬\n파이썬\n파이썬')

# 3
print('''
파이썬
파이썬
파이썬
''')

# 4
print('파이썬\n'*3)

파이썬
파이썬
파이썬
파이썬
파이썬
파이썬

파이썬
파이썬
파이썬

파이썬
파이썬
파이썬

**퀴즈 2**
> 홍길동 씨의 과목별 점수는 다음과 같다.
>
> 홍길동 씨의 평균 점수를 소숫점 둘째자리까지 출력하여라

> `국어 : 86
영어 : 77
수학 : 55
평균 : `

In [11]:
kor = 86
eng = 77
mat = 55

def average(list): 
    return sum(list)/len(list)

avg = average([kor, eng, mat])
print('평균: %.2f' % (avg))
print('평균: {:.2f}'.format(avg)) # {0:.2f} -> avg 가 0 자리
print(f'평균: {avg:.2f}')

평균: 72.67
평균: 72.67
평균: 72.67

**퀴즈 3**
> 변수 a,b를 입력문을 이용하여 데이터를 저장한다.
> 
> == 을 이용하여 a,b 가 같은지 True, False 로 출력하여라

> `a ? 10
> b ? 10
> True`

In [2]:
a = input('a ? ')
b = input('b ? ')
print(a == b)

a ? 10
b ? 10
True

**퀴즈 4**
> 2개의 숫자를 입력받아 사칙연산의 결과물을 출력하여라
> 
> 출력시 % 포맷 형식 이용

> 첫번째 숫자를 입력하세요? 34
두번째 숫자를 입력하세요? 56
> 
> `결과 :
> 34 + 56 = ?
> 34 - 56 = ?
> 34 * 56 = ?
> 34 / 56 = ?`

In [44]:
num1 = int(input('첫번째 숫자를 입력하세요? '))
num2 = int(input('두번째 숫자를 입력하세요? '))

print('결과: ')
print('%d + %d = %d' % (num1, num2, num1+num2))
print('%d - %d = %d' % (num1, num2, num1-num2))
print('%d * %d = %d' % (num1, num2, num1*num2))
print('%d / %d = %.2f' % (num1, num2, num1/num2))

첫번째 숫자를 입력하세요? 34
두번째 숫자를 입력하세요? 56
결과:
34 + 56 = 90
34 - 56 = -22
34 * 56 = 1904
34 / 56 = 0.61

**퀴즈 5**
> 홍길동씨의 주민등록번호는 881120-1068234
>
> 연월일과 숫자 부분을 나누어서 출력하여라.

> `연월일 : 881120
> 숫자 : 1068234`

In [49]:
num3 = '881120-1068234'
num3_split = num3.split("-")
print('연월일 : ' + num3_split[0])
print('숫자 : ' + num3_split[1])

연월일 : 881120
숫자 : 1068234

**퀴즈 6**
> 2개의 변수를 정의하고 아래와 같이 출력한다.
> format 또는 % 또는 f'' 이용

> `movie1 = '알라딘'`
> `movie2 = '스파이더맨'`
>
> `오늘의 영화 => 스파이더맨 , 알라딘`

In [56]:
movie1 = '알라딘'
movie2 = '스파이더맨'

print('오늘의 영화 => %s, %s' % (movie1, movie2))
print('오늘의 영화 => {0}, {1}'.format(movie1, movie2)) # {} {} blank도 가능
print(f'오늘의 영화 => {movie1}, {movie2}')

오늘의 영화 => 알라딘, 스파이더맨
오늘의 영화 => 알라딘, 스파이더맨
오늘의 영화 => 알라딘, 스파이더맨

**퀴즈 7**
> 아래와 같이 변수를 지정하고
>
> `humidity = 82`
>
> `temperature = -1.85674`
>
> % 포맷, format(), f' 포맷 3가지 방식을 이용하여 다음과 같이 출력하여라

> `오늘의 날씨 : 맑음, 습도 82%, 현재기온 -1.8`

In [5]:
humidity = 82
temperature = -1.85674

### 어떻게 round down 할수 있나요??
print('오늘의 날씨 : 맑음, 습도 %d%%, 현재기온 %.1f' % (humidity, temperature))
print('오늘의 날씨 : 맑음, 습도 {}%, 현재기온 {:.1f}'.format (humidity, temperature))
print(f'오늘의 날씨 : 맑음, 습도 {humidity}%, 현재기온 {temperature:.1f}')

오늘의 날씨 : 맑음, 습도 82%, 현재기온 -1.9
오늘의 날씨 : 맑음, 습도 82%, 현재기온 -1.9
오늘의 날씨 : 맑음, 습도 82%, 현재기온 -1.9

**퀴즈 8**
> 2개의 리스트를 정의하고 다음과 같이 출력한다.
> 
> `myList1 : ['홍길동', '신데렐라', '알라딘', '장화', '홍련', '지니', '엘리스']`
> 
> `myList2 : ['토끼', '거북이', '물개', '펭귄']`

> 1. 2개의 리스트 합(+ 연산자 이용)  : ?
> 2. 1번의 리스트에서 앞에서 순차적으로 4개만 출력 : ? 
> 3. 1번의 리스트에서 짝수번째만 출력 : ?
> 4. 1번의 리스트에서 홀수번째만 출력 : ?
> 5. 1번의 리스트에서 전체 길이 :  ?

In [80]:
myList1 = ['홍길동', '신데렐라', '알라딘', '장화', '홍련', '지니', '엘리스']
myList2 = ['토끼', '거북이', '물개', '펭귄']

myList3 = myList1 + myList2

print('2개의 리스트 합(+ 연산자 이용) :', myList3)
print('1번의 리스트에서 앞에서 순차적으로 4개만 출력 : ', myList3[:4])
print('1번의 리스트에서 짝수번째만 출력 :', myList3[1::2])
print('1번의 리스트에서 홀수번째만 출력 :', myList3[::2])
print('1번의 리스트에서 전체 길이 :', len(myList3))

2개의 리스트 합(+ 연산자 이용) : ['홍길동', '신데렐라', '알라딘', '장화', '홍련', '지니', '엘리스', '토끼', '거북이', '물개', '펭귄']
1번의 리스트에서 앞에서 순차적으로 4개만 출력 :  ['홍길동', '신데렐라', '알라딘', '장화']
1번의 리스트에서 짝수번째만 출력 : ['신데렐라', '장화', '지니', '토끼', '물개']
1번의 리스트에서 홀수번째만 출력 : ['홍길동', '알라딘', '홍련', '엘리스', '거북이', '펭귄']
1번의 리스트에서 전체 길이 : 11

**퀴즈 9**

> 리스트를 정의한 후 리스트 요소를 편집한다. (변경, 삭제, 추가)
> 
> `['사과', '배', '망고']`
> 
> 첫번째 요소 변경 후 : `['포도', '배', '망고']`
> 
> 마지막 위치에 요소 추가후 : `['포도', '배', '망고', '오렌지']`
> 
> 2번째 위치에 요소 추가후 : `['포도', '수박', '배', '망고', '오렌지']`
> 
> 마지막 위치 삭제 : `['포도', '수박', '배', '망고']`
> 
> 배 삭제 : `['포도', '수박', '망고']`

In [89]:
fruit = ['사과', '배', '망고']

fruit[0] = '포도'
print('첫번째 요소 변경 후 :', fruit)
fruit.append('오렌지')
print('마지막 위치에 요소 추가후 : ', fruit)
fruit.insert(1, '수박')
print('2번째 위치에 요소 추가후 : ', fruit)
fruit.pop()
print('마지막 위치 삭제 :', fruit)
fruit.remove('배')
print('배 삭제 :', fruit)

첫번째 요소 변경 후 : ['포도', '배', '망고']
마지막 위치에 요소 추가후 :  ['포도', '배', '망고', '오렌지']
2번째 위치에 요소 추가후 :  ['포도', '수박', '배', '망고', '오렌지']
마지막 위치 삭제 : ['포도', '수박', '배', '망고']
배 삭제 : ['포도', '수박', '망고']

**퀴즈 10**

> 데이터를 입력받은 후 리스트에 추가하고 출력하여라 ( input() 이용 )
>
> 좋아하는 음식은? 초밥
> 
> 최근 본 영화는? 알라딘
> 
> 좋아하는 가수는? BTS
> 
> 좋아하는 숫자? 10
>
> 최근 여행지? 부산


> `당신에 관한 리스트 : ['초밥', '알라딘', 'BTS', 10, '부산' ]`

In [94]:
text1 = input('좋아하는 음식은? ')
text2 = input('최근 본 영화는? ')
text3 = input('좋아하는 가수는? ')
text4 = int(input('좋아하는 숫자? '))
text5 = input('최근 여행지? ')

list1 = [text1, text2, text3, text4, text5]
print(f'당신에 관한 리스트: {list1}')

좋아하는 음식은? 초밥
최근 본 영화는? 알라딘
좋아하는 가수는? bTS
좋아하는 숫자? 1
최근 여행지? qntks
당신에 관한 리스트: ['초밥', '알라딘', 'bTS', 1, 'qntks']

In [9]:
yourList = []
yourList.append(input('좋아하는 음식은? ... '))
yourList.append(input('최근 본 영화는?  ... '))
yourList.append(input('좋아하는 가수는? ... '))
yourList.append(input('좋아하는 숫자? ... '))
yourList.append(input('최근 여행지? ... '))
print(f'당신에 관한 리스트 : {yourList}')

좋아하는 음식은? ... 1
최근 본 영화는?  ... 1
좋아하는 가수는? ... 1
좋아하는 숫자? ... 1
최근 여행지? ... 1
당신에 관한 리스트 : ['1', '1', '1', '1', '1']

**퀴즈 11**

> 아래와 같이 리스트를 정의하고 다음과 같이 출력한다. 

> `foods = ['사과','망고','치즈케이크','주스']`
> 
> 우리집 냉장고에는?  `['사과', '망고', '치즈케이크', '주스']`
> 
> 동생이 사과를 먹었다 
> 
> 우리집 냉장고에는?  `['망고', '치즈케이크', '주스']`
> 
> 이모가 수박을 사오셨다. 
> 
> 우리집 냉장고에는?  `['망고', '치즈케이크', '주스', '수박']`
> 
> 동생 친구가 치즈케이크,수박을 먹었다. 
> 
> 우리집 냉장고에는?  `['망고', '주스']`

In [102]:
foods = ['사과','망고','치즈케이크','주스']

print('우리집 냉장고에는?', foods)

print('동생이 사과를 먹었다')
foods.remove('사과')
print('우리집 냉장고에는?', foods)

print('이모가 수박을 사오셨다.')
foods += ['수박']
print('우리집 냉장고에는?', foods)

print('동생 친구가 치즈케이크,수박을 먹었다.')
foods[1:3] = []
print('우리집 냉장고에는?', foods)

우리집 냉장고에는? ['사과', '망고', '치즈케이크', '주스']
동생이 사과를 먹었다
우리집 냉장고에는? ['망고', '치즈케이크', '주스']
이모가 수박을 사오셨다.
우리집 냉장고에는? ['망고', '치즈케이크', '주스', '수박']
동생 친구가 치즈케이크,수박을 먹었다.
우리집 냉장고에는? ['망고', '수박']

In [6]:
foods = ['사과','망고','치즈케이크','주스']
print(f'우리집 냉장고에는?  {foods}')
print(f'동생이 {foods.pop(0)}를 먹었다 ')
# print(f'동생이 {foods[0]}를 먹었다 ')
# foods.remove('사과')
print(f'우리집 냉장고에는?  {foods}')
foods.append('수박')
print(f'이모가 {foods[-1]}을 사오셨다. ')
print(f'우리집 냉장고에는?  {foods}')
print(f'동생 친구가 {foods.pop(1)},{foods.pop()}을 먹었다. ')
print(f'우리집 냉장고에는?  {foods}')

우리집 냉장고에는?  ['사과', '망고', '치즈케이크', '주스']
동생이 사과를 먹었다
우리집 냉장고에는?  ['망고', '치즈케이크', '주스']
이모가 수박을 사오셨다.
우리집 냉장고에는?  ['망고', '치즈케이크', '주스', '수박']
동생 친구가 치즈케이크,수박을 먹었다.
우리집 냉장고에는?  ['망고', '주스']

**퀴즈 12**

> 아래의 리스트를 이용하여 grade 리스트를 생성하고 합계와 평균을 과목별로 출력한다. 평균은 소숫점 2번째 자리까지 출력한다. 
> 
> `kor = [100, 80, 85]`
> 
> `math = [55, 70, 35]`
> 
> `eng = [80, 80, 100]`
> 
> `python = [90, 70, 88]`

> 2차원 리스트 전체 출력
> 
> `[[100, 80, 85], [55, 70, 35], [80, 80, 100], [90, 70, 88]]`
> 
> `kor : 합계 = 265 , 평균 = 88.33`
> 
> `math : 합계 = 160 , 평균 = 53.33`
> 
> `eng : 합계 = 260 , 평균 = 86.67`
> 
> `python : 합계 = 248 , 평균 = 82.67`

In [12]:
kor = [100, 80, 85]
math = [55, 70, 35]
eng = [80, 80, 100]
python = [90, 70, 88]

grade = [kor, math, eng, python]
print(grade)

print('kor : 합계 = %d, 평균 = %.2f' % (sum(kor), average(kor)))
print('math : 합계 = {}, 평균 = {:.2f}'.format (sum(math), average(math)))
print('eng : 합계 = {1}, 평균 = {0:.2f}'.format (average(eng), sum(eng)))
print(f'python : 합계 = {sum(python)}, 평균 = {average(python):.2f}')

[[100, 80, 85], [55, 70, 35], [80, 80, 100], [90, 70, 88]]
kor : 합계 = 265, 평균 = 88.33
math : 합계 = 160, 평균 = 53.33
eng : 합계 = 260, 평균 = 86.67
python : 합계 = 248, 평균 = 82.67

In [13]:
# 합계
korTot = grade[0][0] + grade[0][1] + grade[0][2]
mathTot = grade[1][0] + grade[1][1] + grade[1][2]
engTot = grade[2][0] + grade[2][1] + grade[2][2]
pythonTot = grade[3][0] + grade[3][1] + grade[3][2]

korAvg = korTot/3
mathAvg = mathTot/3
engAvg = engTot/3
pythonAvg = pythonTot/3

print(f'kor : 합계 = {korTot} , 평균 = {korAvg:.2f}')
print('math : 합계 = %d , 평균 = %.2f' % (mathTot, mathAvg))
print('eng : 합계 = %d , 평균 = %.2f' % (engTot, engAvg))
print('python : 합계 = %d , 평균 = %.2f' % (pythonTot, pythonAvg))

kor : 합계 = 265 , 평균 = 88.33
math : 합계 = 160 , 평균 = 53.33
eng : 합계 = 260 , 평균 = 86.67
python : 합계 = 248 , 평균 = 82.67