# 데이터 타입 퀴즈
## 2022.01.20

**퀴즈 1:**

> a, b, c, d, e를 저장하는 튜플을 정의하고
>
> 첫 번째 튜플값과 마지막 튜플값을 출력하여라.

In [57]:
quiz1 = ('a', 'b', 'c', 'd', 'e')

print(quiz1[0])
print(quiz1[-1])

a
e

**퀴즈 2:**

> 다음 리스트에서 "Apple" 항목만 삭제하여라. : `["Banana", "Apple", "Orange"]`

In [58]:
quiz2 = ["Banana", "Apple", "Orange"]
quiz2.remove("Apple")
print(quiz2)

['Banana', 'Orange']

**퀴즈 3:**

> 다음 튜플 데이터를 리스트 데이터로 변환한 후에 'fun-coding0' 데이터를 첫번째에 추가하고, 다시 튜플 데이터로 변환하여라.
>
> `tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')`

In [59]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
temp = list(tupledata)
temp.insert(0, 'fun-coding0')
tupledata = tuple(temp)
print(tupledata)

('fun-coding0', 'fun-coding1', 'fun-coding2', 'fun-coding3')

**퀴즈 4:**

> 다음 항목을 딕셔너리(dict)으로 선언하여라.
>
> `<성인 - 100000 , 청소년 - 70000 , 아동 - 30000>`

In [60]:
quiz4 = {'성인': 100000 , '청소년': 70000, '아동': 30000}
print(quiz4, type(quiz4))

{'성인': 100000, '청소년': 70000, '아동': 30000} <class 'dict'>

**퀴즈 5:**

> 4번 에서 선언한 dict 항목에 <소아 - 0> 항목을 추가하여라

In [61]:
quiz4['소아'] = 0
print(quiz4, type(quiz4))

{'성인': 100000, '청소년': 70000, '아동': 30000, '소아': 0} <class 'dict'>

**퀴즈 6:**

> 5번의 딕셔너리(dict)에서 Key 항목만 리스트로 저장하여 정렬한 후 튜플로 변경하여라.
>
> 결과 => `('성인', '소아', '아동', '청소년')`

In [62]:
temp = list(quiz4.keys())
print(temp)
temp.sort()
print(temp)
print('결과 => ' , tuple(temp))

['성인', '청소년', '아동', '소아']
['성인', '소아', '아동', '청소년']
결과 =>  ('성인', '소아', '아동', '청소년')

**퀴즈 7:**

> number_list에서 중복 숫자를 제거한 후 리스트를 만들어서 출력하여라.
>
> `number_list = [ 5, 1, 2, 2, 3,4, 5, 6, 7, 6, 7, 8, 9, 9, 10, 10 ]
`

In [63]:
number_list = [ 5, 1, 2, 2, 3,4, 5, 6, 7, 6, 7, 8, 9, 9, 10, 10 ]
quiz7 = set(number_list)
quiz7 = list(quiz7)
print(quiz7, type(quiz7))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>


**퀴즈 8:**

> 두 집합의 중복 값으로 리스트를 생성하여라.
>
> ` set1 = { '쥬만치', '정글북', '타이타닉', '월E', 'ET' }`
> `set2 = { '타이타닉', '아바타', '에일리언', '스타워즈', '쥬만치'}`

In [64]:
set1 = { '쥬만치', '정글북', '타이타닉', '월E', 'ET' } 
set2 = { '타이타닉', '아바타', '에일리언', '스타워즈', '쥬만치'}
quiz8 = list(set1 & set2)
print(quiz8)

['타이타닉', '쥬만치']


**퀴즈 9:**

> 8의 리스트를 다음과 같이 구분자 '/'를 이용한 문자열로 출력하여라.
> 
> ` 아이템1 / 아이템2 / ....`

In [65]:
quiz9 = ' / '.join(quiz8)
print(quiz9)

타이타닉 / 쥬만치


**퀴즈 10:**

> 빈 집합을 생성하고 값을 입력받아 집합의 원소를 삽입하여라. 집합 원소의 갯수는 5개로 한다.

> mySet = set() <class 'set'>
> 
> 첫번째 아이템 값 => 갈비탕
> 
> 두번째 아이템 값 => 소머리국밥
> 
> 세번째 아이템 값 => 삼계탕
> 
> 네번째 아이템 값 => 순두부
> 
> 다섯번째 아이템 값 => 김치찌게
> 
> mySet = {'김치찌게', '소머리국밥', '갈비탕 ', '순두부', '삼계탕'} <class 'set'>

In [66]:
quiz10 = set()
# print( ' quiz10 ', quiz10, type(quiz10))
quiz10.add(input('첫번째 아이템 값 => '))
quiz10.add(input('두번째 아이템 값 => '))
quiz10.add(input('세번째 아이템 값 => '))
quiz10.add(input('네번째 아이템 값 => '))
quiz10.add(input('다섯번째 아이템 값 => '))
print( ' mySet = ', quiz10, type(quiz10))

첫번째 아이템 값 => 갈비탕
두번째 아이템 값 => 소머리국밥
세번째 아이템 값 => 삼계탕
네번째 아이템 값 => 순두부
다섯번째 아이템 값 => 김치찌게
 mySet =  {'삼계탕', '소머리국밥', '순두부', '갈비탕', '김치찌게'} <class 'set'>

**퀴즈 11:**

> 빈 10의 집합을 다음과 같은 딕셔너리 구조로 변환하여라.
>
> `mydict =  {0: '소머리국밥', 1: '갈비탕', 2: '순두부', 3: '김치찌게', 4: '삼계탕'} <class 'dict'>`

In [72]:
print(dict(enumerate(quiz10)), type(dict(enumerate(quiz10))))

{0: '삼계탕', 1: '소머리국밥', 2: '순두부', 3: '갈비탕', 4: '김치찌게'} <class 'dict'>