# 퀴즈: 제어문, 함수

## 2022.01.21

In [31]:
# 1. 딕셔너리 값에 'a' 글자가 있는 아이템만 표시하고 총 갯수를 출력하여라
dict2 = {'a': 'africa', 's': 'say',
        'c': 'coffee', 'd': 'drama', 'y':'yes'}
cnt = 0
items = []
for value in dict2.values():
    for letter in value:
        if letter == 'a':
            cnt += 1
            items.append(value)
            break
        else:    
            continue

print(f'총 갯수: {cnt}, items: {items}')

총 갯수: 3, items: ['africa', 'say', 'drama']

In [3]:
dict2 = {'a': 'africa', 's': 'say',
        'c': 'coffee', 'd': 'drama', 'y':'yes'}
count = 0
tot = 0
while count<len(list(dict2)):
    if 'a' in dict2[list(dict2)[count]]:
        print(f'{list(dict2)[count]} => {dict2[list(dict2)[count]]}')
        # print(f'{list(dict2)[count]} =>
              # {dict2[list(dict2)[count]]}')

        tot += 1
    count += 1
print('총 갯수는? ', tot)

print('-'*10,'\n\n')

a => africa
s => say
d => drama
총 갯수는?  3
----------

In [37]:
# 2. 다음 리스트 중에서 '을' 글자를 제외하고 출력하여라
# for, if, pass 이용
'''
qList = ['갑', '을', '병', '정']
갑 / 병 / 정 /
'''

qList = ['갑', '을', '병', '정']

quiz2  = []
for i in qList:
    if i != '을':
        quiz2.append(i)
    else:
        pass
print(quiz2)

['갑', '병', '정']

In [6]:
qList = ["갑", "을", "병", "정"]
print('qList = {}'.format(qList))
for i in qList:
    if i == '을':
        pass
    else:
        print(i, end=' / ')

qList = ['갑', '을', '병', '정']
갑 / 병 / 정 /

In [39]:
# 3. 1부터 30까지 자연수 중 '홀수'만 한 라인으로 출력하여라
#  반복문 for와 조건문 사용
'''
 Result --------------------

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 
'''
for i in range(1, 31):
    if i%2 != 0:
        print(i, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [43]:
# 4. 1부터 50까지 자연수 중 6의 배수만 리스트로 생성하고 다음과 같이 출력하여라
#  반복문 while,  조건문 사용
#  result = []
'''
Result --------------------
결과 리스트 = [6, 12, 18, 24, 30, 36, 42, 48]
총합 = 216
'''
result = []
num = 1
while num <= 50:
    if num % 6 == 0:
        result.append(num)
    num += 1
print(result)

[6, 12, 18, 24, 30, 36, 42, 48]

In [44]:
# 5. 다음 리스트에서 평균, 합, 최소값을 출력하여라
# 리스트 : [95, 77, 56, 100, 85]
# 합 : 413
# 평균 : 82.60
# 최소값 : 56
quiz5 = [95, 77, 56, 100, 85]
print(f'리스트: {quiz5}')
print(f'합: {sum(quiz5)}')
print(f'평균: {sum(quiz5)/len(quiz5)}')
print(f'최소값: {min(quiz5)}')

리스트: [95, 77, 56, 100, 85]
합: 413
평균: 82.6
최소값: 56

In [7]:
numList = [95, 77, 56, 100, 85]
sum = 0
minNumber = numList[0]
for i in numList:
    sum+=i
    if minNumber>i:
        minNumber = i

print(f'리스트 : {numList}')
print(f'합 : {sum}')
avg = sum/len(numList)
print(f'평균 : {avg:.2f}')
print(f'최소값 : {minNumber}')

리스트 : [95, 77, 56, 100, 85]
합 : 413
평균 : 82.60
최소값 : 56

In [50]:
# 6. 1~100 사이의 숫자 중 11의 배수이거나 7의 배수로 구성된 리스트를
# 리스트 내포 방식을 이용하여 출력하고 총 갯수도 함께 출력하여라
'''
[7, 11, 14, 21, 22, 28, 33, 35, 42, 44, 49, 55, 56, 63, 66, 70, 77, 84, 88, 91, 98, 99]
 총 22 개
'''
quiz6 = []
cnt = 0
for i in range(1, 101):
    if i%11 == 0 or i%7 == 0:
        quiz6.append(i)
        cnt += 1
print(quiz6)
print(f'총 {cnt}개')

[7, 11, 14, 21, 22, 28, 33, 35, 42, 44, 49, 55, 56, 63, 66, 70, 77, 84, 88, 91, 98, 99]
총 22개

In [9]:
numList = [ i for i in range(1,101) if i%11==0 or i%7==0]
print(numList)
print(f' 총 {len(numList)} 개')

[7, 11, 14, 21, 22, 28, 33, 35, 42, 44, 49, 55, 56, 63, 66, 70, 77, 84, 88, 91, 98, 99]
 총 22 개

In [66]:
# 7. 이중 리스트 내포 방식을 이용하여 다음과 같은 리스트를 생성하고 출력하여라
# ['1 - 1', '1 - 2', '1 - 3', '2 - 1', '2 - 2', '2 - 3',
#    '3 - 1', '3 - 2', '3 - 3', '4 - 1', '4 - 2', '4 - 3',
#    '5 - 1', '5 - 2', '5 - 3']

quiz7 = [f'{i} - {j}' for i in range(1,6) for j in range(1, 4)]
print(quiz7)

['1 - 1', '1 - 2', '1 - 3', '2 - 1', '2 - 2', '2 - 3', '3 - 1', '3 - 2', '3 - 3', '4 - 1', '4 - 2', '4 - 3', '5 - 1', '5 - 2', '5 - 3']

In [10]:
result = [ str(i)+' - '+str(j) for i in range(1,6) for j in range(1,4)]
result = [ f' {i} - {j}' for i in range(1,6) for j in range(1,4)]
print(result)

result = []
for i in range(1,6):
    for j in range(1,4):
        # result.append(str(i) + ' - '  + str(j))
        result.append(f' {i} - {j}')

print(result)

[' 1 - 1', ' 1 - 2', ' 1 - 3', ' 2 - 1', ' 2 - 2', ' 2 - 3', ' 3 - 1', ' 3 - 2', ' 3 - 3', ' 4 - 1', ' 4 - 2', ' 4 - 3', ' 5 - 1', ' 5 - 2', ' 5 - 3']
[' 1 - 1', ' 1 - 2', ' 1 - 3', ' 2 - 1', ' 2 - 2', ' 2 - 3', ' 3 - 1', ' 3 - 2', ' 3 - 3', ' 4 - 1', ' 4 - 2', ' 4 - 3', ' 5 - 1', ' 5 - 2', ' 5 - 3']

In [91]:
# 8. 다음 2차원 리스트를 생성하고 결과와 같이 for...in 문을 이용하여 출력하여라
# employees = [
#                 ['김수철', '서울', 25, '남', '총무부'],
#                 ['고길동', '부산', 33, '남', '회계부'],
#                 ['최미나', '대전', 22, '여', '기획부'],
#                 ['은지원', '서울', 44, '남', '영업부'],
#                 ['김영탁', '울산', 36, '남', '영업부'],
#                 ['마동탁', '대구', 50, '남', '기획부'],
#                 ['이은미', '창원', 42, '여', '총무부']
#               ]
#
# 	----------------------------------------
#  	 사원명 	 출신지 	 나이 	 성별 	 부서
# 	----------------------------------------
#  	 김수철 	 서울 	 25 	 남 	 총무부
#  	 고길동 	 부산 	 33 	 남 	 회계부
#  	 최미나 	 대전 	 22 	 여 	 기획부
#  	 은지원 	 서울 	 44 	 남 	 영업부
#  	 김영탁 	 울산 	 36 	 남 	 영업부
#  	 마동탁 	 대구 	 50 	 남 	 기획부
#  	 이은미 	 창원 	 42 	 여 	 총무부

kim = ['김수철', '서울', 25, '남', '총무부']
ko = ['고길동', '부산', 33, '남', '회계부']
choi = ['최미나', '대전', 22, '여', '기획부']
eun = ['은지원', '서울', 44, '남', '영업부']
kim2 = ['김영탁', '울산', 36, '남', '영업부']
ma = ['마동탁', '대구', 50, '남', '기획부']
lee = ['이은미', '창원', 42, '여', '총무부']
employees = [kim, ko, choi, eun, kim2, ma, lee]
print(employees)

print('-'*30)
print(f'사원명   출산지   나이   성별   부서')
print('-'*30)

for 사원명, 출산지, 나이, 성별, 부서 in employees:
    print(f'{사원명}    {출산지}    {나이}    {성별}   {부서}')

[['김수철', '서울', 25, '남', '총무부'], ['고길동', '부산', 33, '남', '회계부'], ['최미나', '대전', 22, '여', '기획부'], ['은지원', '서울', 44, '남', '영업부'], ['김영탁', '울산', 36, '남', '영업부'], ['마동탁', '대구', 50, '남', '기획부'], ['이은미', '창원', 42, '여', '총무부']]
------------------------------
사원명   출산지   나이   성별   부서
------------------------------
김수철    서울    25    남   총무부
고길동    부산    33    남   회계부
최미나    대전    22    여   기획부
은지원    서울    44    남   영업부
김영탁    울산    36    남   영업부
마동탁    대구    50    남   기획부
이은미    창원    42    여   총무부

In [11]:
employees = [
                ['김수철', '서울', 25, '남', '총무부'],
                ['고길동', '부산', 33, '남', '회계부'],
                ['최미나', '대전', 22, '여', '기획부'],
                ['은지원', '서울', 44, '남', '영업부'],
                ['김영탁', '울산', 36, '남', '영업부'],
                ['마동탁', '대구', 50, '남', '기획부'],
                ['이은미', '창원', 42, '여', '총무부']
              ]

print('\t'+'-'*40)
print(f' \t 사원명 \t 출신지 \t 나이 \t 성별 \t 부서 ')
print('\t'+'-'*40)
for (name, homtown, age, gender, part) in employees:
    print(f' \t {name} \t {homtown} \t {age} \t {gender} \t {part} ')

	----------------------------------------
 	 사원명 	 출신지 	 나이 	 성별 	 부서
	----------------------------------------
 	 김수철 	 서울 	 25 	 남 	 총무부
 	 고길동 	 부산 	 33 	 남 	 회계부
 	 최미나 	 대전 	 22 	 여 	 기획부
 	 은지원 	 서울 	 44 	 남 	 영업부
 	 김영탁 	 울산 	 36 	 남 	 영업부
 	 마동탁 	 대구 	 50 	 남 	 기획부
 	 이은미 	 창원 	 42 	 여 	 총무부

In [96]:
# 9. 8번의 리스트에서 남자 사원 목록만 출력하여라
for 사원명, 출산지, 나이, 성별, 부서 in employees:
    if 성별 == '남':
        print(f'{사원명}    {출산지}    {나이}    {성별}   {부서}')

김수철    서울    25    남   총무부
고길동    부산    33    남   회계부
은지원    서울    44    남   영업부
김영탁    울산    36    남   영업부
마동탁    대구    50    남   기획부

In [97]:
# 10. 8번의 리스트에서 성이 '김'인 사원 목록만 출력하여라
for 사원명, 출산지, 나이, 성별, 부서 in employees:
    if 사원명[0] == '김':
        print(f'{사원명}    {출산지}    {나이}    {성별}   {부서}')

김수철    서울    25    남   총무부
김영탁    울산    36    남   영업부

In [105]:
# 11 : 별찍기
# 숫자만큼 다음과 같은 형태로 출력하는
# 함수를 정의한 후 호출하여라.

'''
starPrint(5)

결과 :
*
**
***
****
*****

starPrint(3)

결과 :
*
**
***
'''

def starPrint(num):
    for i in range(1, num + 1):
        print('*'*i)
starPrint(5)

*
**
***
****
*****

In [108]:
# 12
# 인자값을 받아서 출력하는 구구단 함수를 정의한 후
# 호출하여 출력하여라
'''
def gugu(n):
    ?

gugu(9)

출력 >>
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

'''

def gugu(n):
    for i in range(1, n + 1):
        print(f'{n} X {i} = {n*i}')

gugu(9)

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [128]:
# 13:
# 리스트를 호출하면 각각의
# 아이템이 다음과 같이 출력되도록 함수를 정의하여라
'''
# printList(['라면', '빙수'])

   오늘의 메뉴   
1  :  라면
2  :  빙수

# printList(['모밀', '탕수육', '육계장'])
   오늘의 메뉴   
1  :  모밀
2  :  탕수육
3  :  육계장
'''

def printList(*args):
    print(f'   오늘의 메뉴')
    menu = args[0]
    for i in range(0, len(menu)):
        print(f'{i+1} :  {menu[i]}')
        
printList(['라면', '빙수'])
printList(['모밀', '탕수육', '육계장'])

   오늘의 메뉴
1 :  라면
2 :  빙수
   오늘의 메뉴
1 :  모밀
2 :  탕수육
3 :  육계장

In [131]:
# 14
# 첫번째 인자의 값이 'min'이면 다음 인자의 숫자 중
# 최대값을 출력하고
# 첫번째 인자의 값이 'max'이면 다음 인자의 숫자중
# 최소값을 출력하여라
# 이 때 전달하는 숫자의 갯수는 가변으로 한다.

'''
min_max_number('min', 100, 20, 40)
min_max_number('min', 100, 20, 40, 500, 1)
min_max_number('max', 100, 20, 40)
min_max_number('max', 100, 20, 40, 500, 1)

# 결과 
최소값은?  20
최소값은?  1
최대값은?  100
최대값은?  500

'''
def min_max_number(minmax, *args):
    number = []
    if minmax == 'min':
        for i in args:
            number.append(i)
        print(f'최소값은? {min(number)}')
    elif minmax == 'max':
        for i in args:
            number.append(i)
        print(f'최대값은? {max(number)}')
        
min_max_number('min', 100, 20, 40)
min_max_number('min', 100, 20, 40, 500, 1)
min_max_number('max', 100, 20, 40)
min_max_number('max', 100, 20, 40, 500, 1)

최소값은? 20
최소값은? 1
최대값은? 100
최대값은? 500

In [15]:
def min_max_number(choice, *args):
    if choice == "min":
        temp = args[0]
        for i in range(0, len(args)):
            if temp>args[i]:
                temp = args[i]
        return print('최소값은? ', temp)
    elif choice == "max":
        temp = args[0]
        for i in range(0, len(args)):
            if temp < args[i]:
                temp = args[i]
        return print('최대값은? ', temp)
    else:
        return print('잘못된 입력값')
    
min_max_number('min', 100, 20, 40)
min_max_number('min', 100, 20, 40, 500, 1)
min_max_number('max', 100, 20, 40)
min_max_number('max', 100, 20, 40, 500, 1)

최소값은?  20
최소값은?  1
최대값은?  100
최대값은?  500

In [136]:
# 퀴즈 15
# **kwargs 인자 가변 함수를 이용하여
# 함수 호출시 결과값이 다음과 같이 딕셔너리 형태로
# 출력되도록 하여라
'''
# 함수 호출 
dictDefine(a='apple', b='banana', n='nano')
dictDefine(b='banana', n='nano', s='soup', d='dress', q='quit')

결과1 >>>

{'a': 'apple', 'b': 'banana', 'n': 'nano'}
a : apple
b : banana
n : nano

결과2 >>>
{'b': 'banana', 'n': 'nano', 's': 'soup', 'd': 'dress', 'q': 'quit'}
b : banana
n : nano
s : soup
d : dress
q : quit

'''

def dictDefine(**kwargs):
    print(f'{kwargs}')
    for key in kwargs:
        print(f'{key} : {kwargs[key]}')
        
dictDefine(a='apple', b='banana', n='nano')
dictDefine(b='banana', n='nano', s='soup', d='dress', q='quit')

{'a': 'apple', 'b': 'banana', 'n': 'nano'}
a : apple
b : banana
n : nano
{'b': 'banana', 'n': 'nano', 's': 'soup', 'd': 'dress', 'q': 'quit'}
b : banana
n : nano
s : soup
d : dress
q : quit

In [16]:
def dictDefine(**kwargs):
    print('\n'*2)
    print(kwargs)
    for key in kwargs:
        print(key, ':', kwargs[key])

dictDefine(a='apple', b='banana', n='nano')
dictDefine(b='banana', n='nano', s='soup', d='dress', q='quit')

{'a': 'apple', 'b': 'banana', 'n': 'nano'}
a : apple
b : banana
n : nano



{'b': 'banana', 'n': 'nano', 's': 'soup', 'd': 'dress', 'q': 'quit'}
b : banana
n : nano
s : soup
d : dress
q : quit

In [141]:
# 16
# 첫글자를 제외한 나머지 글자를 '*'로 표시하는
# 람다함수를 정의하여라. 입력되는 문자열은 3글자로 한다.
# 변수 = lambda 인자:명령문

'''
# 함수 호출 
# f1('홍길동')
# f1('김철수')

결과: >>
홍**
김**
'''
# f1 = lambda txt:print(txt[0]+'**')

f1 = lambda name: name[0]+'**'
f1('홍길동')
# f1('김철수')

'홍**'

In [146]:
# 17
# 국어,영어,수학 3과목의 합과 평균을 구하는
# 람다 함수를 정의하여라
'''
# 람다 호출 
# f2(100,80,90)

결과 >>
국어:100, 영어:80, 수학:90 , 총점:270, 평균90.00
'''

f2 = lambda kor, eng, mat: f'국어:{kor}, 영어:{eng}, 수학:{mat}, 총점:{sum([kor, eng, mat])}, 평균:{sum([kor, eng, mat])/len([kor, eng, mat]):.2f}'
f2(100,80,90)

'국어:100, 영어:80, 수학:90, 총점:270, 평균:90.00'